[submodule "3rdparty/gflags"]
	path = 3rdparty/gflags
	url = https://github.com/gflags/gflags/tree/v2.2.2
[submodule "3rdparty/glog"]
	path = 3rdparty/glog
	url = https://github.com/google/glog/tree/v0.6.0
